.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url(/tezos-process.png) 115% -5em no-repeat;
  background-size: 700px;
}

@media screen and (max-width: 567px) {
  .container {
    padding: 0;
    background-size: 400px;
    background-position: 130px -4em;
  }
}
